.todo__item {
  width: 100%;
  position: absolute;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  padding: 0 10px;
  background-color: var(--milk);
  border: 1px solid var(--dark);
  box-shadow: 2.5px 2.5px var(--dark);

  &.draggable:not(.dropping) {
    transition: top 0.2s ease-in-out, opacity 0.3s ease;
    cursor: grab;
  }

  &.dragStart {
    opacity: 0.5;
    cursor: grabbing;
  }
  &.dragging {
    opacity: 0;
  }

  &.checked {
    box-shadow: 2.5px 2.5px var(--green);
  }

  & p {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: var(--dark);
    transition: all 0.1s ease-in;
    &.checked {
      filter: brightness(0.7);

      &:after {
        content: "";
        position: absolute;
        height: 3px;
        width: 0;
        left: 0;
        top: 50%;
        margin-top: -1.5px;
        background-color: var(--red);
        animation: lineAnimation 0.5s forwards ease;
      }

      @keyframes lineAnimation {
        0% {
          width: 0%;
        }
        100% {
          width: 100%;
        }
      }
    }
  }
  & #btn__container {
    display: flex;
    & span {
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 8px;
      padding: 5px;
      border: 2px solid black;
      cursor: pointer;

      &.non-active {
        cursor: not-allowed;
        pointer-events: none;
      }

      &:hover svg {
        transform: scale(1.15);
      }
      & svg {
        width: 100%;
        height: auto;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
