.navbar__container {
  position: relative;
  z-index: 1000000;
  height: 75px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & h2.logo {
    padding: 5px 20px;
    border: 3px solid var(--jet);
    color: var(--jet);
    background-color: var(--lime);
    box-shadow: 5.5px 5px 0px var(--jet);
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
}
